@import url('<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800&display=swap" rel="stylesheet"> ');
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  letter-spacing: 1px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #282525;
}

#container {
  position: relative;
  width: 60vw;
  margin: auto;
}

#headerBar {
  width: 60vw;
  height: 8vh;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.8745098039);
  backdrop-filter: blur(0.3em);
}
#headerBar .logoCt {
  display: flex;
  width: 15em;
  align-items: center;
}
#headerBar .logoCt p {
  font-weight: 600;
}
#headerBar .logoCt .xmasLogo {
  width: 2em;
  height: 2em;
}
#headerBar .navBar {
  display: flex;
  align-items: center;
}
#headerBar .navBar li {
  margin-left: 2.5em;
  display: inline-block;
}

#main {
  position: relative;
  width: 100%;
  margin-top: 5em;
}
#main #landing1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}
#main #landing1 .xmasTreeImg {
  width: 45%;
}
#main #landing1 .xmasTreeImg img {
  width: 100%;
}
#main #landing1 .landingMsg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  margin-left: 2rem;
}
#main #landing1 .landingMsg h1 {
  font-size: 2rem;
}
#main #landing1 .landingMsg p {
  font-size: 0.9rem;
  margin-top: 1em;
}
#main #landing1 .landingMsg .homeButton {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  margin-top: 2em;
  padding: 1rem 2rem;
  background-color: #dc3845;
}
#main #landing1 .landingMsg .homeButton a {
  color: white;
}
#main #landing2 {
  text-align: center;
  margin-top: 5em;
}
#main #landing2 .cardContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
}
#main #landing2 .cardContainer .givinCard {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#main #landing2 .cardContainer .givinCard img {
  width: 8.3333333333vw;
  margin: auto;
}
#main #landing2 .cardContainer .givinCard p {
  width: 100%;
  margin-top: 0.8em;
  font-size: 0.8em;
}

#celebration {
  position: relative;
  width: 100%;
  margin-top: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
#celebration .celebrateMsg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  margin-left: 2rem;
}
#celebration .celebrateMsg p {
  font-size: 0.9rem;
  margin-top: 1em;
}
#celebration .celebrateMsg .homeButton {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  margin-top: 2em;
  padding: 1rem 2rem;
  background-color: #dc3845;
}
#celebration .celebrateMsg .homeButton a {
  color: white;
}
#celebration .celebrateImg {
  width: 45%;
}
#celebration .celebrateImg img {
  width: 100%;
}

#gift {
  position: relative;
  width: 100%;
  margin-top: 5em;
}
#gift h2 {
  text-align: center;
}
#gift .cardCt {
  display: grid;
  justify-content: center;
  grid-template-columns: 20% 20% 20%;
  gap: 2.5rem;
  margin-top: 5rem;
}
#gift .cardCt .itemCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  padding: 2em 1em;
  border-radius: 1rem;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1450980392);
}
#gift .cardCt .itemCard i {
  color: #dc3845;
  position: absolute;
  font-size: 1.5rem;
  top: 1rem;
  right: 1rem;
}
#gift .cardCt .itemCard img {
  width: 6.25vw;
  margin: auto;
}
#gift .cardCt .itemCard h3 {
  margin-top: 1em;
}
#gift .cardCt .itemCard p {
  margin-top: 0.35em;
}

#new {
  position: relative;
  width: 100%;
  margin-top: 5em;
  margin-top: 5rem;
  text-align: center;
}
#new .newItemCt {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 5rem;
  overflow-x: auto;
}
#new .newItemCt .itemCard {
  position: relative;
  width: 25%;
  padding: 0.5rem 0.5rem 3rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1450980392);
}
#new .newItemCt .itemCard i {
  padding: 0.2em;
  color: white;
  position: absolute;
  font-size: 1.5rem;
  border-radius: 15%;
  bottom: 0;
  right: 0;
  background-color: #dc3845;
}
#new .newItemCt .itemCard img {
  width: 12.5vw;
}
#new .newItemCt .itemCard:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  border-radius: 1rem 1rem 50% 50%;
  background-color: #dc3845;
  z-index: -1;
}
#new .dotCt {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 2em;
  height: 0.5em;
  margin: 1em auto 0;
}
#new .dotCt .dotOn {
  width: 0.5em;
  height: 0.5em;
  background-color: #dc3845;
  border-radius: 50%;
}
#new .dotCt .dotOff1 {
  width: 0.45em;
  height: 0.45em;
  background-color: #e1dfe0;
  border-radius: 50%;
}
#new .dotCt .dotOff1 {
  width: 0.35em;
  height: 0.35em;
  background-color: #e1dfe0;
  border-radius: 50%;
}

#sending {
  position: relative;
  width: 100%;
  margin-top: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dc3845;
  border-radius: 2em;
  padding: 2em 0;
  margin-top: 10em;
}
#sending .sendingMsg {
  width: 35%;
  padding: 1em;
}
#sending .sendingMsg h2 {
  font-size: 2.5em;
  color: white;
}
#sending .sendingMsg input {
  width: 100%;
  border-radius: 2em;
  margin-top: 1.5em;
  padding: 1em;
}
#sending .sendingMsg .sendingButton {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  margin-top: 2em;
  padding: 1rem 2rem;
  margin-top: 1.5em;
  background-color: #282525;
}
#sending .sendingMsg .sendingButton a {
  color: white;
  font-weight: bold;
}
#sending .celebrateImg {
  width: 45%;
}
#sending .celebrateImg img {
  width: 100%;
  transform: rotateZ(15deg);
  padding: 3em;
}

#footCt {
  position: relative;
  width: 100%;
  height: 30vh;
}
#footCt .footBg .fBg1 {
  width: 10%;
  height: 50%;
  position: absolute;
  bottom: 1.5em;
  left: 0;
  background-image: url(../img/footer1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -1;
}
#footCt .footBg .fBg2 {
  width: 10%;
  height: 50%;
  position: absolute;
  bottom: 5em;
  right: -6em;
  background-image: url(../img/footer2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -1;
}
#footCt .footCardCt {
  width: 100%;
  margin-top: 8em;
  display: grid;
  grid-template-columns: 15% 15% 15% 15%;
  justify-content: space-between;
}
#footCt .footCardCt p, #footCt .footCardCt a {
  color: #615959;
}
#footCt .footCardCt .footCard .logoCt {
  display: flex;
  width: 15em;
  align-items: center;
}
#footCt .footCardCt .footCard .logoCt .xmasLogo {
  width: 1.5em;
  height: 1.5em;
}
#footCt .footCardCt .footCard p {
  margin-top: 0.8em;
  font-size: 0.9em;
}
#footCt .footCardCt .footCard ul {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#footCt .footCardCt .footCard ul li {
  margin-top: 0.5em;
}
#footCt .rights {
  width: 100%;
  text-align: center;
  margin-top: 5em;
}
#footCt .rights p {
  color: #615959;
}

/*# sourceMappingURL=style.css.map */
