@mixin celebration {

    // SECTION CELEBRATION
    #celebration {
        @include sectionType1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    
        .celebrateMsg {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 35%;
            margin-left: 2rem;
        
            p {
                font-size: .9rem;
                margin-top: 1em;
            }
            .homeButton {
                @include button;
                background-color: $xmasRed;
    
                a {
                    color: white;
                }
            }
    
        }
        .celebrateImg {
            width: 45%;
    
                img{
                    width: 100%;
                }
        }
    }
    
}