@mixin reset 
{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    letter-spacing: 1px;
    text-decoration: none;
}

@mixin button
{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    margin-top: 2em;
    padding: 1rem 2rem;
}

@mixin sectionType1 {
    position: relative;
    width: 100%;
    margin-top: 4em;    
}
