// RESET
@import 'variables';
@import 'mixins';
@import 'header';
@import 'footer';
@import 'home';
@import 'celebration';
@import 'gift';
@import 'new';
@import 'sending';
@import 'responsive';

* {
    @include reset;
    font-family: $poppins;
    color: $title;
}

// CONTAINER GLOBAL
#container {
    position: relative;
    width: 60vw;
    margin: auto;
}

// HEADER
@include header;
// SECTION HOME
@include home;
// SECTION CELEBRATION
@include celebration;
//SECTION GIFT
@include gift;
// SECTION NEW
@include new;
// SECTION SENDING
@include sending;
//SECTION FOOTER
@include footer;
//RESPONSIVE
@include responsive;