
    // SECTION CELEBRATION
    #celebration {
        @include sectionType1;
    
        .celebrateMsg {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 35%;
            margin-left: 2rem;
    
            .redButton {
                @include button;
                background-color: $xmasRed;
    
                a {
                    color: white;
                }
            }
    
        }
        .celebrateImg {
            width: 45%;
    
                img{
                    width: 100%;
                }
        }
    }
    
