@mixin gift {
    //SECTION GIFT

#gift {
    margin-top: 5em;
    text-align: center;
    
    .cardCt {
        display: grid;
        justify-content: center;
        grid-template-columns: 20% 20% 20%;
        gap: 2.5rem;
        margin-top: 5rem;

        .itemCard {
            @include card;
            padding: 2em 1em;
            border-radius: 1rem;
            box-shadow: 2px 2px 15px #00000025;
            transition: .5s;
            
            i{
                color: $xmasRed;
                position: absolute;
                font-size: 1.5rem;
                top: 1rem;
                right: 1rem;
            }
            
            img {
                width: calc(25vw / 4);
                margin: auto;
            }

            &:hover {
                translate: 0 -1em;
            }
    
        }

        
    }
}

}