    #main {
        @include sectionType1;
        flex-direction: column;
        
        
        #landing1 {
            @include sectionType1;
            margin-top: 0;
    
            .xmasTreeImg{
                width: 45%;
                img{
                    width: 100%;
                }
            }

            .landingMsg {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 35%;
                margin-left: 2rem;

                .redButton {
                    @include button;
                    background-color: $xmasRed;
        
                    a {
                        color: white;
                        font-weight: 700;
                    }
                }
            }
        }

        #landing2 {
            @include sectionType1;
            flex-direction: column;
            text-align: center;

            .cardContainer {
                width: 100%;
                display: grid;
                grid-template-columns: 20% 20% 20%;
                justify-content: space-evenly;
                margin-top: 2em;
                
        
                .givinCard {
                    @include card;
                    transition: .5s;

                    img {
                        width: calc(25vw / 3);
                        margin: auto;
                    }

                    &:hover {
                        translate: 0 -1em;
                    }

                }
            }
        }
    }

