@mixin responsive {

    //CONTAINER GLOBAL
    @media (max-width: 768px) {

        #container {
            width: 100vw;
            padding: 0 .5em;
            overflow: hidden;

            .scrollRemote {
                bottom: 1em;
                right: 1em;
                i{
                    font-size: 1.5em;
                }
            }
            
        }
    }
    

    //HEADER NAVBAR
    @media (max-width: 768px)  {
    
        #headerBar {
            width: 100vw;
            left: 0;
            padding: 0 1em;
            .menuNavBar{
                display: flex;
                align-items: center;
        
                .navBar {
                    width: 100%;
                    position: absolute;
                    top: -33vh;
                    left: 0;
                    flex-direction: column;
                    background-color: white;
    
                    li {
                        text-align: center;
                        padding: 1em;
                        width: 90%;
                        margin-left: 0;
                        margin-top: 1em;
                        border-bottom: 1px solid black;
                    }
    
                }
        
                .burgerDisplay {
                    display: block;
                }
    
                i {
                    margin-left: 1.5em;
                }
            }
        
        }
        
    }
    



    // HOME LANDING
    @media (max-width: 768px)  {
        #main {
            margin-top: 5em;
            #landing1 {
                flex-direction: column;

                .xmasTreeImg {
                    width: 70%;
                }

                .landingMsg {
                    width: 100%;
                    align-items: center;
                    text-align: center;
                    margin-left: 0;

                }

            }

            #landing2 {

                .cardContainer {
                    grid-template-columns: 40% 40%;

                    .givinCard {

                        img {
                            width: 50%;
                        }
                
                    }

                }
            }
        }
    }


    // CELEBRATION
    @media (max-width: 768px) {
        #celebration {
            flex-direction: column;
            width: 95%;

            .celebrateMsg {
                text-align: center;
                margin-left: 0;
                width: 100%;
                align-items: center;

                .homeButton {

                    a {
                        font-size: .7rem;
                        font-weight: 800;
                    }
                }
            }

            .celebrateImg {
                width: 55%;
            }
        }
    }


    // GIFT
    @media (max-width: 768px) {

        #gift {

            .cardCt {
                grid-template-columns: 40% 40%;
                gap: 1rem;
                margin-top: 2rem;

                .itemCard {
                    i {
                        font-size: 1rem;
                    }
                    img {
                        width: 60%;
                    }
                }

            }
        }

    }

    // NEW

    @media (max-width: 768px) {

        #new {
            .newItemCt {
                margin-top: 2rem;
                padding: 0 4em;
                overflow: scroll;
                .itemCard {
                    width: 100%;
                    margin: 0 .8em;
                    img {
                        width: 50vw;
                    }
                }
            }
        }       
    }

    // SENDING

    @media (max-width: 768px) {

        #sending {
            flex-direction: column;
            text-align: center;
    
            .sendingMsg {
                width: 100%;
    
    
                .sendingButton {
                    width: 100%;
                }
            }
    
            .sendingImg {
                width: 50%;
    
                img {
                    padding: .7em;
                }
            }
        }
    
    }
    
    // FOOTER
    @media (max-width: 768px) {

        #footCt {
            height: fit-content;
    
            .footBg {
                overflow: hidden;
    
                .fBg1 {
                    width: 20%;
                    left: 70%;
                    background-size: 100%;
                }
    
                .fBg2 {
                    width: 20%;
                    right: -2.5em;
                    bottom: -10em;
                }
            }
    
            .footCardCt {
                grid-template-columns: 50%;
                gap: 1em;
                
                .footCard {
                    margin-top: 1em;
                }
            }
        }
    }
    


}