@mixin sending {

    // SECTION SENDING
#sending {
    @include sectionType1;
    background-color: $xmasRed;
    border-radius: 2em;
    padding: 2em 0;
    margin-top: 10em;
   


    .sendingMsg {
        width: 35%;
        padding: 1em;

        h2{
            color: white;    
        }

        input {
            width: 100%;
            border-radius: 2em;
            margin-top: 1.5em;
            padding: 1em;

        }

        .darkButton {
            @include button;
            margin-top: 1.5em;
            background-color: $title;


            a {
            color: white;
            }
        }

    }

    .sendingImg {
        width: 45%;
        
        img {
            width: 100%;
            transform: rotateZ(15deg);
            padding: 3em;
        }
    }

    
}

}